<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('partials/navbar') %>

    <% if (records.length > 0) { %>
        <div class = "card-container">
            <% records.forEach(function(record) { %>
                <div class = "card record-card" onclick = "location.href = '/details/<%= record.id%>'">
                    <img class = "card-img-top lazyload" data-src="<%= record.thumb %>"  src = "/img/placeholder.png" alt="cover image">
                    <div class = "card-body">
                        <h5 class= "card-title"> <%= record.title %> </h5>
                        <p class = "card-text"> <%= record.artist %> </p>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No records found!</p>
    <% } %>

    <!-- Pagination -->
    <% if (pagination.pages > 1) { %>
        <div class = "page-container">
        <%
            let window = 5;
            let current = pagination.page || 1;
            let total = pagination.pages;
            let start = Math.max(current - Math.floor(window/2), 1);
            let end = Math.min(start + window - 1, total);
            start = Math.max(end - window +1, 1);
        %>

        <% if(current > 1) {%>
            <a href = "/discover?page=<%= current - 1 %>" class = "page-link">Prev</a>

        <% } %>

        <% for (let i = start; i <= end; i++) { %>
            <a href = "/discover?page=<%= i %>" class = "<%= i === current ? 'page-link active' : 'page-link' %>"><%= i %></a>
        <% } %>

        <% if (current < total) { %>
            <a href = "/discover?page=<%= current + 1 %>" class = "page-link"> Next </a>
        <% }%>
        </div>
    <% } %>


    <script>
        // Lazy loading images script
        document.addEventListener('DOMContentLoaded', function() {

            var lazyloadImages = document.querySelectorAll("img.lazyload");    

            var imageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {

                    if (entry.isIntersecting) {
                        
                        var image = entry.target;
                        image.src = image.dataset.src;
                        image.classList.remove("lazyload");
                        imageObserver.unobserve(image);
                    }
                });
            });
        
            lazyloadImages.forEach(function(image) {
                imageObserver.observe(image);
            });
        });
        </script>
</body>
</html>
